/* line 1, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
html {
  font-size: 16px;
  line-height: 1.42857143;
  font-family: "Poppins", sans-serif;
}

/* line 7, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 13, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.top-and-bottom-padding {
  padding: 50px 0px;
}

/* line 16, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.bottom-padding {
  padding-bottom: 50px;
}

/* line 22, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.btn {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

/* line 35, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.btn .main-buttons {
  padding: 10px 30px;
}

/* line 41, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
}

/* line 52, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.sticky-consent {
  position: fixed;
  bottom: 0px;
  font-size: 12.8px;
}

/* line 56, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.sticky-consent button {
  padding: 5px 10px;
  border: none;
  border-top-right-radius: 10px;
  background-color: #75788a;
  color: #fff;
}

/* line 65, ../../../../../Nettmaters_main/assessments/websiteNew/scss/base/_base.scss */
.sticky-help {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  background-color: #333645;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  padding: 11px;
}

/* line 27, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.bottom-clients-bar .bottom-bar-images .picture img,
.bottom-services-bar .our-work-examples .picture img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

/* line 32, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.bottom-clients-bar .bottom-bar-images .picture:hover img,
.bottom-services-bar .our-work-examples .picture:hover img {
  filter: grayscale(0%);
}

/* line 1, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
}

/* line 8, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
div {
  display: block;
}

/* line 16, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  /* line 16, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* line 16, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 16, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_layouts.scss */
  .container {
    width: 1200px;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
footer {
  background-color: #323544;
  color: #fff;
  position: relative;
}

/* line 8, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}

/* line 12, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  margin-top: 0px;
}

/* line 23, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-row {
  display: flex;
  flex-wrap: wrap;
}

/* line 26, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-row li {
  list-style-type: none;
}

/* line 32, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.bottom-footer {
  font-size: .8125rem;
  padding-top: 10px;
  width: 100%;
  left: 0;
  background: #212330;
  border: 0;
}

/* line 39, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.bottom-footer .bottom-footer-text {
  color: #fff;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.bottom-anchor {
  text-decoration: none;
  color: inherit;
}

/* line 48, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.bottom-anchor:hover {
  text-decoration: underline;
}

/* line 55, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links {
  display: flex;
  font-size: 26px;
  margin-bottom: 30px;
}

/* line 60, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links .facebook-btn:hover {
  background-color: #3b5998;
}

/* line 65, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links .linkedin-btn:hover {
  background-color: #0077b5;
}

/* line 70, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links .x-btn:hover {
  background-color: #00aced;
}

/* line 75, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links .instagram-btn:hover {
  background-color: #d93175;
}

/* line 80, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-follow-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  margin-right: 10px;
  background-color: #212330;
  color: #fff;
  text-decoration: none;
}

/* line 93, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-ul {
  padding: 0px;
}

/* line 96, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-ul li {
  font-size: .8125rem;
  line-height: 1.375rem;
}

/* line 102, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.netmatters-footer-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 27px;
}

/* line 109, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
.footer-main-logo {
  width: 320px;
}

@media (max-width: 767px) {
  /* line 120, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .bottom-footer-text {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  /* line 128, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .footer-row {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, 1fr);
  }
  /* line 138, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .bottom-footer {
    display: flex;
    align-content: center;
  }
  /* line 142, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .bottom-footer-text {
    display: flex;
    gap: 5px;
    padding: 0px 0px 10px;
  }
}

@media (min-width: 992px) {
  /* line 154, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1260px) {
  /* line 164, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  footer {
    padding-top: 50px;
  }
  /* line 168, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .netmatters-footer-info {
    padding-top: 0px;
  }
  /* line 172, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .footer-menu {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 177, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_footer.scss */
  .top-footer {
    display: flex;
    gap: 100px;
  }
}

/* line 5, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_typography.scss */
p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

/* line 10, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_typography.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
}

/* line 5, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

/* line 13, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.about-title {
  font-size: 2.25rem;
  margin: 0;
}

/* line 26, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.wtn-background {
  background-color: #323544;
  color: #fff;
}

/* line 34, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.about .btn, .about .btn-primary-inverse {
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid transparent;
}

/* line 42, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.wtn-rows {
  padding: 50px 0;
}

/* line 46, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.top-btn {
  margin-right: 10px;
}

/* line 50, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.row-1 .btn {
  background-color: #272936;
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.row-1 .btn:hover {
  background-color: #121318;
  color: white;
}

/* line 55, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.icon-star-full {
  color: #ffa500;
  font-size: 50px;
}

/* line 60, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.icon-star-container {
  margin-bottom: 25px;
}

/* line 65, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.btn-google {
  background-color: #4387f6;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.btn-google:hover {
  background-color: #1268f4;
  color: white;
}

/* line 70, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.btn-trustpilot {
  background-color: #00b67b;
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.btn-trustpilot:hover {
  background-color: #008359;
  color: white;
}

/* line 75, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.icon-arrow-right2:before {
  content: "\ea3c";
}

/* line 80, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.about .wtn-text {
  text-decoration: none;
  color: #fff;
}

/* line 85, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.about .wtn-text:hover {
  text-decoration: underline;
}

/* line 92, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.row-2 .client-quote {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
}

/* line 97, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.row-2 .about-title {
  margin: 40px 0;
}

/* line 102, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.btn {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

/* line 115, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.btn .main-buttons {
  padding: 10px 30px;
}

/* line 120, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.client-quote-author {
  font-size: 18px;
}

/* line 123, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.author-name {
  color: #a3a8ac;
  font-weight: 600;
}

/* line 133, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.latest-news-block {
  padding-bottom: 30px;
}

/* line 137, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.posted-by {
  padding-top: 40px;
}

/* line 141, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.article-padding {
  padding-top: 30px;
}

/* line 146, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.img-container {
  position: relative;
}

/* line 151, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.latest-news-h1 {
  color: #333645;
  font-weight: 600;
  margin: 0px;
}

/* line 158, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.latest-news-view-all {
  color: #333645;
  font-size: 1.625rem;
  font-weight: 600;
  text-decoration: none;
}

/* line 166, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.heading-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-top: 50px;
}

/* line 176, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.latest-news-about-title {
  font-size: 36px;
  font-weight: 600;
  color: #333645;
  margin-top: -5px;
}

/* line 185, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.news-link {
  color: #fff;
  position: absolute;
  text-decoration: none;
  font-size: .75rem;
  padding: 0px 10px;
  right: 0;
  top: 10px;
  z-index: 1;
}

/* line 197, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.news-link-one {
  background-color: #926fb1;
}

/* line 201, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.news-link-two {
  background-color: #db8c0d;
}

/* line 211, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.content-section .article-1 .block h3,
.content-section .article-2 .block h3,
.content-section .article-3 .block h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 215, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.content-section .article-1 .block h3 a,
.content-section .article-2 .block h3 a,
.content-section .article-3 .block h3 a {
  color: inherit;
  text-decoration: none;
}

/* line 220, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.content-section .article-1 .block p,
.content-section .article-2 .block p,
.content-section .article-3 .block p {
  line-height: 1.375rem;
  font-size: .8125rem;
}

/* line 230, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .btn-article-1 {
  background-color: #926fb1;
}

/* line 233, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .btn-article-2 {
  background-color: #db8c0d;
}

/* line 236, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .btn-article-3 {
  background-color: #d64541;
}

/* line 239, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .article-1-h3 {
  color: #926fb1;
  font-weight: 600;
}

/* line 243, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .article-2-h3 {
  color: #db8c0d;
  font-weight: 600;
}

/* line 246, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .article-2-h3 .time-to-read {
  color: #adaeae;
  font-size: .85rem;
  font-weight: 400;
}

/* line 252, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block .article-3-h3 {
  color: #d64541;
  font-weight: 600;
}

/* line 256, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.block p {
  color: #333645;
}

/* line 262, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.responsive-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: -10px;
}

/* line 274, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.article-1,
.article-2,
.article-3 {
  position: relative;
  top: 0;
  transition: top 0.5s ease;
  text-decoration: none;
}

/* line 14, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.article-1:hover,
.article-2:hover,
.article-3:hover {
  top: -10px;
  transition: top 0.5s ease;
}

/* line 290, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.author {
  padding-top: 30px;
  margin-top: 30px;
}

/* line 296, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* line 301, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.author-img {
  float: left;
  margin-right: 10px;
}

/* line 305, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.author-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* line 310, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.author-details {
  overflow: hidden;
  padding-left: 20px;
}

/* line 322, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.view-all {
  margin-top: 50px;
  text-align: center;
}

/* line 325, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.view-all a {
  font-size: 1.625rem;
  font-weight: 600;
  color: #333645;
}

/* line 330, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.view-all span {
  padding-left: 5px;
}

/* line 343, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: visible;
}

/* line 349, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images {
  overflow: visible;
}

/* line 352, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .picture-container {
  position: relative;
  display: inline-block;
}

/* line 356, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .picture-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* line 362, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #333;
  color: #fff;
  line-height: 22px;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  transition: opacity 0.3s;
  z-index: 1000;
  height: auto;
  max-width: 90vw;
  word-wrap: break-word;
  white-space: normal;
}

/* line 386, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* line 397, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip h3 {
  margin-top: 0;
  font-size: 18px;
}

/* line 402, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip p {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 22px;
}

/* line 407, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip a.tooltip-button {
  font-size: 16px;
}

/* line 411, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip .tooltip-button {
  display: inline-block;
  background-color: #926fb1;
  width: 90%;
  color: #fff;
  padding: 15px 15px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.8em;
  transition: background-color 0.3s;
}

/* line 422, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-clients-bar .bottom-bar-images .tooltip .tooltip-button:hover {
  background-color: #79539a;
}

/* line 431, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-bar-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  max-width: 100%;
}

/* line 437, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
.bottom-bar-images .colored-picture {
  max-width: 200px;
  /* Set maximum width */
  max-height: 75px;
  /* Set maximum height */
}

@media (max-width: 601px) {
  /* line 449, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .about .btn {
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  /* line 456, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 465, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .responsive-image {
    max-width: 100%;
  }
  /* line 470, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .latest-news-block .latest-news-view-all {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1259px) {
  /* line 479, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .welcome-to-netmatters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 491, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .latest-news-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
  }
  /* line 499, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .article-padding {
    padding-top: 0px;
  }
  /* line 504, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .container .view-all {
    display: none;
  }
  /* line 509, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row {
    display: flex;
  }
  /* line 513, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-1 {
    width: 50%;
    padding-left: 15px;
    order: 1;
  }
  /* line 519, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-2 {
    width: 50%;
    padding-right: 15px;
  }
  /* line 525, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-3 {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 536, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .wtn-rows {
    display: flex;
    justify-content: space-between;
  }
  /* line 541, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row-1,
  .row-2 {
    width: 50%;
    /* Adjust this value as needed */
    padding: 0 15px;
  }
  /* line 545, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row-1 a,
  .row-2 a {
    margin-bottom: 20px;
  }
  /* line 548, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row-1 .about-title,
  .row-2 .about-title {
    margin: 0 0 30px 0;
  }
  /* line 554, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .about .container {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 562, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .btn-google {
    margin-top: 25px;
  }
}

@media (min-width: 1260px) {
  /* line 570, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row {
    display: flex;
  }
  /* line 573, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-1 {
    width: 33.3%;
    padding: 0 15px;
  }
  /* line 578, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-2 {
    width: 33.3%;
    padding: 0 15px;
    padding-top: 0px;
  }
  /* line 584, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .row .article-3 {
    width: 33.3%;
    padding: 0 15px;
    padding-top: 0px;
  }
  /* line 593, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .button-container {
    display: flex;
    gap: 10px;
  }
  /* line 596, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .button-container .btn {
    font-size: 18px;
  }
  /* line 601, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .btn-google,
  .btn-trustpilot {
    margin-top: 30px;
  }
  /* line 607, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_about.scss */
  .heading-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 7, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-section service-item {
  padding: 30px;
}

/* line 12, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.our-services-title {
  font-size: 43.2px;
  font-weight: 400;
  margin: 0px;
}

/* line 17, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.top-services-arrow {
  font-size: 36px;
  font-weight: 600;
  color: #333645;
}

/* line 25, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item-header {
  margin-bottom: 11px;
  font-size: 20.8px;
  font-weight: 400;
  color: #333645;
}

/* line 32, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item-text {
  font-size: 13px;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
  color: #333645;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item {
  position: relative;
  top: 0;
  transition: top 0.5s ease;
  text-decoration: none;
}

/* line 14, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.service-item:hover {
  top: -10px;
  transition: top 0.5s ease;
}

/* line 54, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover .service-item-header,
.service-item:hover .service-item-text {
  color: white;
}

/* line 60, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.bespoke-software {
  background-color: #67809f;
}

/* line 64, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.bespoke-software .icon-laptop,
.service-item:hover.bespoke-software .bespoke-software-btn {
  background-color: white;
  color: #67809f;
}

/* line 70, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.it-support {
  background-color: #4183d7;
}

/* line 72, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.it-support .icon-display,
.service-item:hover.it-support .it-support-btn {
  background-color: white;
  color: #4183d7;
}

/* line 78, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.digital-marketing {
  background-color: #2ecc71;
}

/* line 80, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.digital-marketing .icon-bar-graph,
.service-item:hover.digital-marketing .digital-marketing-btn {
  background-color: white;
  color: #2ecc71;
}

/* line 86, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.telecoms-services {
  background-color: #d64541;
}

/* line 88, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.telecoms-services .icon-phone_in_talk,
.service-item:hover.telecoms-services .telecoms-services-btn {
  background-color: white;
  color: #d64541;
}

/* line 94, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.web-design {
  background-color: #926fb1;
}

/* line 96, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.web-design .icon-embed2,
.service-item:hover.web-design .web-design-btn {
  background-color: white;
  color: #926fb1;
}

/* line 102, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.cyber-security {
  background-color: #f62459;
}

/* line 104, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.cyber-security .icon-security,
.service-item:hover.cyber-security .cyber-security-btn {
  background-color: white;
  color: #f62459;
}

/* line 110, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.developer-training {
  background-color: #ce4125;
}

/* line 112, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item:hover.developer-training .icon-study,
.service-item:hover.developer-training .developer-training-btn {
  background-color: white;
  color: #d64541;
}

/* line 124, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: wrap;
  text-align: center;
  gap: 10px;
  padding: 30px;
  margin-top: 30px;
  border: solid #ccc 1px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
}

/* line 141, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-container-padding {
  margin-left: 8px;
  margin-right: 8px;
}

/* line 148, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-padding {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 154, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar {
  color: #fff;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 166, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-laptop {
  background-color: #67809f;
}

/* line 169, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-display {
  background-color: #4183d7;
}

/* line 172, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-bar-graph {
  background-color: #2ecc71;
}

/* line 175, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-phone_in_talk {
  background-color: #d64541;
}

/* line 178, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-embed2 {
  background-color: #926fb1;
}

/* line 181, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-security {
  background-color: #f62459;
}

/* line 184, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.services-avatar.icon-study {
  background-color: #ce4125;
}

/* line 194, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.service-view-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: wrap;
  border: none;
  margin-top: 30px;
  font-size: 1.625rem;
}

/* line 205, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.our-work-examples {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
  max-width: 100%;
}

/* line 212, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.our-work-examples .colored-picture {
  max-width: 200px;
  /* Set maximum width */
  max-height: 75px;
  /* Set maximum height */
}

/* line 222, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
}

/* line 231, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.bespoke-software .btn {
  background-color: #f7b322;
}

/* line 234, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.it-support .btn {
  background-color: #4183d7;
}

/* line 237, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.digital-marketing .btn {
  background-color: #2ecc71;
}

/* line 240, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.telecoms-services .btn {
  background-color: #d64541;
}

/* line 243, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.web-design .btn {
  background-color: #926fb1;
}

/* line 246, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.cyber-security .btn {
  background-color: #f62459;
}

/* line 249, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
.developer-training .btn {
  background-color: #ce4125;
}

@media (max-width: 767px) {
  /* line 261, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-header .top-services-arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 269, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 275, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 750px;
  }
  /* line 284, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  /* line 292, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section > .main-item {
    width: 100%;
    flex-basis: 100%;
  }
  /* line 298, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section > .secondary-item {
    flex-basis: 50%;
  }
  /* line 310, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .service-view-work,
  .view-all {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 320, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 327, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section {
    width: 100%;
  }
  /* line 331, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-header {
    width: 100%;
  }
  /* line 335, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section > .main-item {
    flex-basis: 33.3%;
  }
  /* line 340, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section .service-item.digital-marketing {
    min-height: 345px;
  }
}

@media (min-width: 1260px) {
  /* line 352, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 358, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section .service-padding {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
  }
  /* line 364, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .service-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 372, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section > .main-item {
    flex-basis: 33.3%;
  }
  /* line 376, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-section > .secondary-item {
    flex-basis: 25%;
  }
  /* line 380, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_services-section.scss */
  .services-header {
    width: 100%;
  }
}

/* line 6, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-header {
  display: flex;
  justify-content: center;
  background-color: #333645;
}

/* line 13, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 21, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown li {
  text-align: center;
}

/* line 24, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown a {
  padding-top: 19px;
  padding-bottom: 18px;
}

/* line 31, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown a {
  padding: 10px;
}

/* line 39, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-bespoke-software:hover {
  background-color: #67809f;
}

/* line 41, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-bespoke-software:hover .banner-avatar {
  color: #fff;
}

/* line 47, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-it-support:hover {
  background-color: #4183d7;
}

/* line 49, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-it-support:hover .banner-avatar {
  color: #fff;
}

/* line 55, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-digital-marketing:hover {
  background-color: #2ecc71;
}

/* line 57, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-digital-marketing:hover .banner-avatar {
  color: #fff;
}

/* line 63, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-telecoms-services:hover {
  background-color: #d64541;
}

/* line 65, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-telecoms-services:hover .banner-avatar {
  color: #fff;
}

/* line 71, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-web-design:hover {
  background-color: #926fb1;
}

/* line 73, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-web-design:hover .banner-avatar {
  color: #fff;
}

/* line 79, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-cyber-security:hover {
  background-color: #f62459;
}

/* line 81, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-cyber-security:hover .banner-avatar {
  color: #fff;
}

/* line 87, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-developer-course:hover {
  background-color: #ce4125;
}

/* line 89, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-developer-course:hover .banner-avatar {
  color: #fff;
}

/* line 97, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown li span {
  display: block;
}

/* line 101, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-laptop {
  color: #67809f;
}

/* line 104, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-display {
  color: #4183d7;
}

/* line 107, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-bar-graph {
  color: #2ecc71;
}

/* line 110, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-phone_in_talk {
  color: #d64541;
}

/* line 113, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-embed2 {
  color: #926fb1;
}

/* line 116, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-security {
  color: #f62459;
}

/* line 119, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar.icon-study {
  color: #ce4125;
}

/* line 123, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-avatar {
  font-size: 23px;
  padding-bottom: 8px;
}

/* line 128, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-text-small {
  color: #fff;
  font-size: 10px;
}

/* line 133, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-text {
  color: #fff;
  font-size: 18px;
  margin-top: -5px;
}

/* line 141, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown li:hover .banner-inner-dropdown-container {
  display: block;
}

/* line 147, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-inner-dropdown-container {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100vw;
  left: 0;
}

/* line 156, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-inner-dropdown {
  display: flex;
  flex-wrap: wrap;
}

/* line 162, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown-h1 {
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* line 172, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown-item {
  display: flex;
  flex: 1 1 30%;
  align-items: center;
  font-size: 19.2px;
  padding: 10px 15px 10px 0px;
}

/* line 178, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown-item span {
  color: #fff;
  padding-left: 10px;
}

/* line 184, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-inner-dropdown-container .banner-dropdown-item {
  text-align: left;
}

/* line 189, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-bespoke-software {
  background-color: #526781;
}

/* line 192, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-it-support {
  background-color: #286abd;
}

/* line 195, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-digital-marketing {
  background-color: #25a25a;
}

/* line 198, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-telecoms-services {
  background-color: #bc2c28;
}

/* line 201, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-web-design {
  background-color: #79539a;
}

/* line 204, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-cyber-security {
  background-color: #de093f;
}

/* line 207, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.inner-developer-course {
  background-color: #a3331d;
}

/* line 213, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 550px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* line 227, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* line 243, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 0;
}

/* line 254, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title {
  position: relative;
  color: white;
  z-index: 2;
  text-align: center;
}

/* line 259, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title h2 {
  font-size: 40px;
}

/* line 262, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title p {
  font-size: 20px;
}

/* line 265, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title .banner-btn {
  background-color: #926fb1;
  font-size: 20px;
  padding: 20px 20px;
  line-height: 50px;
  border-radius: 3px;
}

/* line 271, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title .banner-btn span {
  margin-left: 12px;
  position: relative;
  top: 1px;
}

/* line 280, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title .banner-dots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 78px;
  width: 100%;
}

/* line 289, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title .banner-dot {
  margin: 0 5px;
}

/* line 292, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-title .banner-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
}

/* line 304, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-inner-dropdown-container a {
  text-decoration: none;
}

/* line 306, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-inner-dropdown-container a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/* line 313, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
.banner-dropdown-item .banner-dropdown-a {
  padding: 0;
}

@media (max-width: 991px) {
  /* line 322, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
  .banner-dropdown {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 331, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
  .banner-container::before {
    background: linear-gradient(270deg, transparent 25%, #000);
  }
  /* line 338, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
  .banner-text {
    position: relative;
    text-align: left;
    padding: 0px 15px;
  }
  /* line 344, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_banner.scss */
  .banner-text h2 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 20px;
  }
}

/* line 1, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header {
  padding: 20px 0px;
}

/* line 5, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header--hidden {
  transform: translateY(-100%);
}

/* line 13, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header-bar-container {
  display: flex;
  flex-direction: column;
}

/* line 18, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header-netmatters {
  max-width: 100%;
}

/* line 22, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 29, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header-phone-icon {
  color: #333645;
  background-color: white;
  font-size: 32px;
  margin-left: auto;
}

/* line 36, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.header-search-and-icons {
  display: flex;
  flex-direction: row;
}

/* line 41, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-search-container {
  display: flex;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-search-bar {
  padding: 5px 15px;
  height: 56px;
  width: 174px;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  font-size: 14px;
  outline: 1px solid rgba(0, 0, 0, 0.075);
}

/* line 54, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-search-bar:focus {
  border-color: #2cdff7;
  box-shadow: 0 0 2px 2px #b3f1f1;
}

/* line 62, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-mouse {
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.large-screen-mouse:hover {
  background-color: #286abd;
  color: white;
}

/* line 66, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-paperplane {
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.large-screen-paperplane:hover {
  background-color: #7e808a;
  color: white;
}

/* line 70, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.icon-search-big-btn {
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.icon-search-big-btn:hover {
  background-color: #7e808a;
  color: white;
}

/* line 74, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.hamburger-icon {
  transition: background-color 0.3s ease;
}

/* line 45, ../../../../../Nettmaters_main/assessments/websiteNew/scss/utilities/_mixins.scss */
.hamburger-icon:hover {
  background-color: #1d1f28;
  color: white;
}

/* line 79, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-mouse {
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 23px;
  border: none;
  background-color: #4183d7;
  color: #fff;
}

/* line 88, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-mouse .icon-mouse {
  position: relative;
  top: 3px;
}

/* line 92, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-mouse__text {
  font-size: 18px;
}

/* line 97, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-paperplane {
  height: 56px;
  padding: 5px 15px;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 23px;
  border: none;
  background-color: #999aa2;
  color: #fff;
}

/* line 107, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-paperplane .icon-paperplane {
  position: relative;
  top: 3px;
}

/* line 111, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.large-screen-paperplane__text {
  font-size: 18px;
}

/* line 117, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.icon-search-big-btn {
  height: 56px;
  padding: 7px 20px 3px;
  border-radius: 0 3px 3px 0;
  font-size: 23px;
  border: none;
  background-color: #999aa2;
  color: #fff;
}

/* line 128, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.hamburger-icon {
  position: relative;
  background-color: #333645;
  width: 63px;
  height: 56px;
  margin-left: 20px;
  border-radius: 3px;
}

/* line 138, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.hamburger-line {
  width: 33px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
}

/* line 149, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.hamburger-line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 162, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.small-screen-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 47px;
  width: 100%;
  margin-top: 11px;
}

/* line 172, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.small-screen-search-bar span {
  position: relative;
  padding: 5px 0px 5px 15px;
  color: #888888;
  z-index: 2;
}

/* line 178, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.small-screen-search-bar .icon-search-small {
  position: relative;
  padding-right: 11px;
  font-size: 20px;
  font-weight: 400px;
  color: #333645;
  z-index: 2;
}

/* line 186, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.small-screen-search-bar .small-screen-search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 0px 5px 15px;
  z-index: 1;
  border: 2px solid #cecece;
  background-color: #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 197, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
.small-screen-search-bar .small-screen-search-input:focus {
  outline: none;
}

@media (max-width: 767px) {
  /* line 209, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .large-screen-search-container,
  .icon-search-big-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 220, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 227, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .header-phone-icon,
  .bottom-header {
    display: none;
  }
  /* line 233, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .top-header {
    gap: 30px;
  }
  /* line 238, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .header-netmatters {
    width: 345px;
    height: 60.06px;
  }
}

@media (max-width: 991px) {
  /* line 250, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .large-screen-mouse,
  .large-screen-paperplane {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  /* line 258, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .large-screen-search-bar {
    display: none;
  }
  /* line 263, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .icon-search-big-btn {
    margin-left: 20px;
  }
}

@media (min-width: 1260px) {
  /* line 271, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .large-screen-search-container {
    display: block;
    padding-left: 20px;
  }
  /* line 275, ../../../../../Nettmaters_main/assessments/websiteNew/scss/layout/_header.scss */
  .large-screen-search-bar {
    width: 240px;
  }
}

/*# sourceMappingURL=application.css.map */