.section{
    margin-top: 50px;
}

////////////////////////////////
/// TOP
////////////////////////////////

.contact-us-top{
    // removing default margin
    margin-top: 0;
}

.middle-header{
    background-color: $primary-black;
    padding: 24px 0;
}

.contact-us-top.section h1{
    // removing default margin
    margin: 0;
    color: white;
    font-size: 36px;
    font-weight: 400;

}

////////////////////////////////
/// LOCATIONS
////////////////////////////////


////////////////////////////////
/// CONTACT SECTION
////////////////////////////////


/////////////////////////////////
// MEDIA QUERIES
/////////////////////////////////