////////////////////////////////////////////////////////////////////
/// HOVER-MOVE (MAKES AN ELEMENT MOVE UP 10PX'S WHEN HOVERED OVER)
////////////////////////////////////////////////////////////////////



// This mixin is what makes an element move when hovered over
// to use we need to use @include i.e.
// .service-item {
//    @include hover-move;
//}

// the top needs to have a relative postioning so the top: 0 can work
// the two arguments in parenthesis is what moves it when hovered 
@mixin hover-move($hover-distance: -10px, $transition-time: 0.5s) {
    position: relative;
    top: 0;
    transition: top $transition-time ease;
    text-decoration: none;

    &:hover {
        top: $hover-distance;
        transition: top $transition-time ease;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////
/// TURN-PICTURE-GREY  -  THIS CHANGES A PICTURE IN THE PICTURE DIV GREY
///////////////////////////////////////////////////////////////////////////////////////////////

@mixin turn-picture-grey($transition-time: 0.3s) {
    .colored-picture {
        transition: filter $transition-time ease;
    }
    
    &:hover .colored-picture {
        filter: grayscale(100%);
    }
}