///////////////////////////////////////////////////////
/// ABOUT
//////////////////////////////////////////////////////

.block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}


// sizes the images with responsive-image class to 100% of its container width 
.responsive-image {
    width: 100%; 
    height: auto;
    max-width: 100%;
}
.about-title{
    font-size: 2.25rem;
}

// ==========================================================================
// welcome-to-netmatters Block
// ==========================================================================

// This adds the top and bottom padding of 50px, made so it can be used on other parts if needed. 

// setting the brand-backgrounds color
.about{
    background-color: $primary-background;
    color: $primary-white;

    // sets styling for buttons in welcome to net matters section
    .btn, .btn-primary-inverse {
        border-radius: 6px;
        padding: 10px 30px;
        font-size: 20px;
        border: 1px solid transparent;
    }
}

.wtn-rows{
    padding-bottom: 50px;
}

.top-btn{
    margin-right: 10px;
}

.row-1 .btn{
    background-color: #272936;
    @include button-hover(#272936);
}

.icon-star-full{
    color: #ffa500;
    margin-bottom: 25px;
    font-size: 50px;
}

// These two selectors and styling apply color to these buttons and turn darker shade when hovered over
.btn-google{
    background-color: #4387f6;
    margin-right: 10px;
    @include button-hover(#4387f6);
}
.btn-trustpilot{
    background-color: #00b67b;
    @include button-hover(#00b67b);
}

.icon-arrow-right2:before {
    content: "\ea3c";
    }

 // this takes away the underlines of the anchors and applies white   
.about .wtn-text{ 
    text-decoration: none;
    color: $primary-white;

    // This adds underline on hover 
    &:hover {
        text-decoration: underline;  
    }
}

// this styles the client qoute in the second section of about
.row-2 {
    .client-quote{
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
    }
}

.btn{
    font-weight: 400;
    text-decoration: none;
    color: $primary-white;

    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;

    .main-buttons{
        padding: 10px 30px;
    }
}



// ==========================================================================
// Latest-news-block
// ==========================================================================


.latest-news-block{
    padding-bottom: 30px;
}

.posted-by{
    padding-top: 40px;
}

.article-padding{
    padding-top: 30px;
}

// this sets the img-container to relative so the .news-link can then be positioned absolutley
.img-container{
    position: relative;
}

//styles the latest news h1
.latest-news-h1{
    color: #333645;
    font-weight: 600;
    margin: 0px;
}

// colors the view all --> in latest news
.latest-news-view-all{
    color: #333645;
    font-size: 1.625rem;
    font-weight: 600;
    text-decoration: none;
}

// this is what is aligning the latest news and view all -->
.heading-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    
}

// as this is set to absolute, its positioned relative to img-container as thats its ancestor,
// the top: 10px is self explanitory, and the right: 0 means it will be as far right as possible.
.news-link{
    color: $primary-white;
    position: absolute;
    text-decoration: none;
    font-size: .75rem;
    padding: 0px 10px;
    right: 0;
    top: 10px;
    z-index: 1;

}
// this is a secondary class to the .news-link so it has a unique color
.news-link-one{
    background-color: #4183d7;
}
// this is a secondary class to the .new-link so it has a unique color
.news-link-two{
    background-color: #db8c0d;
}

// This targets the h3 in content section to change its color and style and the first btn to make it blue
.content-section {
    .article-1,
    .article-2,
    .article-3 {
        .block {
            h3 {
                font-size: 1rem;
                line-height: 1.5rem;
                // color: #4183d7;
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
            p{
                line-height: 1.375rem;
                font-size: .8125rem;
            }
        }
    }

}
// this block of selectors lets me set the titles colors individually
.block {
    .btn-article-1{
        background-color: #4183d7;
    }
    .btn-article-2{
        background-color: #db8c0d;
    }
    .btn-article-3{
        background-color: #d64541;
    }
    .article-1-h3{
        color: #4183d7;
    }
    .article-2-h3{
        color: #db8c0d;
        .time-to-read{
            color: #adaeae;
            font-size: .85rem;
        }
    }
    .article-3-h3{
        color :#d64541;
    }
}

////////////////////////////////////////////////////////
// HOVER SHIFT -
///////////////////////////////////////////////////////

.article-1,
.article-2,
.article-3{
    @include hover-move;
}

/////////////////////////////////////////////////////////////////////


// Article-1
// ==========================================================================



.bar{
    padding-top: 50px;
}

// These are for the first articles text and picture styles.
.author {
    padding-top: 30px;
    margin-top: 30px;
}

// These 4 selectors seperate the image and text
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.author-img {
    float: left;
    margin-right: 10px;
}
.author-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.author-details {
    overflow: hidden;
    padding-left: 20px;
}

// Article-2
// ==========================================================================

//  View all block
// ==========================================================================

// setting the font size and pushing the content down 20px's and to the center
.view-all{
    margin-top: 50px;
    text-align: center;
    a{
        font-size: 1.625rem;
    }
}

//  BOTTOM CLIENT BAR
// ==========================================================================

.bottom-clients-bar{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-bar-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 100%;
}


/////////////////////////////////////////////////////////////////////////////
// Media queris 
/////////////////////////////////////////////////////////////////////////////

@media (max-width: 767px) {
    
    // sizes the image to 100% width whilst 768px's and under
    .responsive-image {
        max-width: 100%;

    }
    // this makes the view all in the latest news block disappear under 268px's
    .latest-news-block .latest-news-view-all {
        display: none;
    }
    // this adds some top padding in mobile view, not ideal
    // but was behaving weirdly
    .about-title{
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1259px){

    .welcome-to-netmatters {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }


    //////////////////////////////////////////////////////////////////////////////////
    /// LATEST NEWS
    /////////////////////////////////////////////////////////////////////////////////

    // this aligns the content in latest-news-block to the center
    .latest-news-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 50px;
        width: 100%
    }

    .article-padding {
        padding-top: 0px;
    }

    // this gets rid of the view all and -->
    .container .view-all {
        display: none;
    }

    // this shows only two articles and gives them the correct size.
    .row{
        display: flex;

        // this sets article 1 to appear first and gives padding to seperate the articles.
        .article-1{
            width: 50%;
            padding-left: 15px;
            order: 1;
        }

        .article-2{
            width: 50%;
            padding-right: 15px;
        }

        // this hide the third article
        .article-3{
            display: none;
        }

    }    

}

@media (min-width: 992px){
    
    .wtn-rows{
        display: grid;
        grid-template-columns: repeat(2, 1fr); // Creates two equal columns
        gap: 20px;
    }
    // this gives space between the buttons 
    .row-1,
    .row-2{
        a{
            margin-bottom: 20px;
        }
    }


}

// this shows all three articles in full screen and sizes them correctly 
@media (min-width: 1260px){

    .row{
        display: flex;

        .article-1{
            width: 33.3%;
            padding-left: 15px;
        }

        .article-2{
            width: 33.3%;
            padding-left: 15px;
            padding-top: 0px;
        }

        .article-3{
            width: 33.3%;
            padding-left: 15px;
            padding-top: 0px;
        }

    }

    // This makes the buttons align in a row in fullscreen
    .button-container {
        display: flex; 
        gap: 10px; 
        .btn{
            font-size: 18px;
        }
    }
}