/////////////////////////////////////////////////////////////////////////////////////////////////////
/// BANNER HEADER
////////////////////////////////////////////////////////////////////////////////////////////////////

// this keeps the list items centered to their container div
.banner-header{
    display: flex;
    justify-content: center;
    background-color: $primary-black;
}

// this makes the ul list items display in a line with space between eachother
.banner-dropdown{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // this aligns the icon to the center
    li{
        text-align: center;
    }
    a{
        padding-top: 19px;
        padding-bottom: 18px;
    }
}

// this adds a bit more space between each item in the banner nav
.banner-dropdown a {
    padding: 10px; 
}


// These selectors turn the background color to the relevant colours when hovered
// CANT FIGURE OUT HOW TO GET IT CORRECT
.banner-bespoke-software{
    &:hover{
        background-color: #67809f;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-it-support{
    &:hover{
        background-color: #4183d7;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-digital-marketing{
    &:hover{
        background-color: #2ecc71;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-telecoms-services{
    &:hover{
        background-color: #d64541;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-web-design{
    &:hover{
        background-color: #926fb1;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-cyber-security{
    &:hover{
        background-color: #f62459;
        .banner-avatar{
            color: $primary-white;
        }
    }
}
.banner-developer-course{
    &:hover{
        background-color: #ce4125;
        .banner-avatar{
            color: $primary-white;
        }
    }
}


// this stacks the text inside the banner-dropdowns li
.banner-dropdown li span {
    display: block; 
}
// this adds specificty so it only selects the icons in the banner section
.banner-avatar.icon-laptop {
    color: #67809f;
}
.banner-avatar.icon-display {
    color: #4183d7;
}
.banner-avatar.icon-bar-graph {
    color: #2ecc71;
}
.banner-avatar.icon-phone_in_talk {
    color: #d64541;
}
.banner-avatar.icon-embed2 {
    color: #926fb1;
}
.banner-avatar.icon-security {
    color: #f62459; 
}
.banner-avatar.icon-study {
    color: #ce4125; 
}

.banner-avatar{
    font-size: 23px;
    padding-bottom: 8px;
}

.banner-text-small{
    color: $primary-white;
    font-size: 10px;
}
// the -margin brings the text closer together
.banner-text{
    color: $primary-white;
    font-size: 18px;
    margin-top: -5px;
}

// this is what shows the dropdown when the li in the banner header is hovered over
.banner-dropdown li {
    &:hover .banner-inner-dropdown-container {
        display: block; // this shows the dropdown.
    }
}

// this is the container that only appear when hovered over
.banner-inner-dropdown-container {
    display: none; 
    position: absolute; 
    z-index: 10; 
    width: 100vw;
    left: 0;
}


.banner-inner-dropdown{
    display: flex;
    flex-wrap: wrap;
}

// this styles the dropdown h1 and has it alignn to the left
.banner-dropdown-h1{
    display: flex;
    align-items: flex-start;
    font-size: 32px;
    color: $primary-white;
    margin-top: 15px;
    margin-bottom: 30px;
}

// this is what keeps the dropdown items in line and at the right width thanks to the flex
.banner-dropdown-item {
    display: flex;
    flex: 1 1 30%; // this says Grow to fill space, shrink if necessary, base width of 30% */
    align-items: center;
    font-size: 19.2px;
    padding: 10px 15px 10px 0px;
    span{
        color: $primary-white;
        padding-left: 10px;
    } 
}

.banner-inner-dropdown-container .banner-dropdown-item {
    text-align: left;
}


.inner-bespoke-software{
    background-color: #526781;
}
.inner-it-support{
    background-color: #286abd;
}
.inner-digital-marketing{
    background-color: #25a25a;
}
.inner-telecoms-services{
    background-color: #bc2c28;
}
.inner-web-design{
    background-color: #79539a;
}
.inner-cyber-security{
    background-color: #de093f;
}
.inner-developer-course{
    background-color: #a3331d; 
}


////////////////////////////////////////////////////////////////////////////////////////////////////
.banner-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 550px;
    position: relative;
    align-items: center; 
    justify-content: center; 
    // Ensures the pseudo-element doesn't overflow
    overflow: hidden;

    // this is basically creating a black background with 50% opacity
    // we give it a z index of 1 so it sits infont of the image, but not the text 
    // as that has a value of 2
    &::before {
        content: '';
        position: absolute;
        // positions it to the very top left
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        // this ensures the overlay is behind the text but in front of the image 
        z-index: 1; 
    }
}


// this is for the picture
.banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 0;
}

// this is styling the heading and nested elements, and has a z-index of 2 
// so that it sits infront of the image
.banner-title{
    position: relative;
    color: white;
    z-index: 2;
    text-align: center;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    .banner-btn{
        background-color: #926fb1;
        font-size: 20px;
        padding: 20px 20px;
        line-height: 50px;
        border-radius: 3px;
        span{
            margin-left: 12px;
            // pushes the arrow down very slightly to be centered
            position: relative;
            top: 1px; 
        }
    }

    // this displays all the circles in a row horizontaly, the justify content centers them in the div
    .banner-dots-container {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        // added 18px's extra because i couldnt apply the 18px's of bottom margin to the button 
        margin-top: 78px; 
        width: 100%; 
    }

    .banner-dot {
        margin: 0 5px; // Add horizontal spacing between dots

        span {
            display: block;
            width: 10px;
            height: 10px;
            background-color: grey;
            border-radius: 50%;
        }
    }

}

// this makes the dropdown anchors underline white on hover
.banner-inner-dropdown-container a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        text-decoration-color: $primary-white;
    }
}

// i need this and to give each span an anchor as it was adding weird padding from somewhere without
.banner-dropdown-item .banner-dropdown-a {
    padding: 0;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/// MEDIA QUERIES  
////////////////////////////////////////////////////////////////////////////////////////////////////////

@media(max-width: 991px){
    .banner-dropdown{
        display: none;
    }
}

@media (min-width: 992px){

    // this adds the linear gradient netmatters have here, this can have its color changed to match their images later
    .banner-container {
        &::before {
            background: linear-gradient(270deg,transparent 25%,#000)
        }

        
    }

    .banner-text {
        position: relative;
        text-align: left;
        padding: 0px 15px;
        // margin: 0px 145px;

        h2{
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 20px;
        }
    }
}

