html{
    font-size: 16px;
}

.segment {
    padding: 50px 0px; // this adds padding to the top and bottom of the section
}

.btn{
    font-weight: 400;
    text-decoration: none;
    color: $primary-white;

    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;

    .main-buttons{
        padding: 10px 30px;
    }
}

  ///// THIS MIXIN REMOVES THE GREYSCALE ON THE COLORED IMAGES WHEN HOVERED OVER
// i had to be very specific with selectors as the top set of pictures didnt work correctly
// this selects picture that are nested in the middle selector, which are descendants of the first selector
.bottom-clients-bar .bottom-bar-images .picture,
.bottom-services-bar .our-work-examples .picture {
    @include turn-picture-colored;
}