html{
    font-size: 16px;
    line-height: 1.42857143;
}

// this adds padding to the top and bottom of the section
.top-and-bottom-padding {
    padding: 50px 0px; 
}
.bottom-padding{
    padding-bottom: 50px;
}

.btn{
    font-weight: 400;
    text-decoration: none;
    color: $primary-white;

    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;

    .main-buttons{
        padding: 10px 30px;
    }
}

// This hides any content that overflows the container
.overflow-hidden {
    overflow: hidden; 
    white-space: nowrap; 
}


//////////////////////////////////////////////////////////////////////////////////////////////
///BODY
//////////////////////////////////////////////////////////////////////////////////////////////

// this makes the manage consent button stick to the bottom of the page even when scrolling
// this needs to have button too for extra specificty, the .btn in base.scss would overide otherwise.
.sticky-consent {
    position: fixed;
    bottom: 0px;
    font-size: 12.8px;
    button{
       padding: 5px 10px;
       border: none;
       border-top-right-radius: 10px;
       background-color: #75788a;
       color: $primary-white;
    }
}

.sticky-help {
    position: fixed;
    // the bottom and right make its stick 25px's to the left of the right edge and up from the bottom
    bottom: 25px;
    right: 25px;
    height: 60px;
    width: 60px;
    background-color: #333645;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    padding: 11px;

 }


//////////////////////////////////////////////////////////////////////////////////////////////
/// MIXIN
//////////////////////////////////////////////////////////////////////////////////////////////

///// THIS MIXIN REMOVES THE GREYSCALE ON THE COLORED IMAGES WHEN HOVERED OVER
// i had to be very specific with selectors as the top set of pictures didnt work correctly
// this selects picture that are nested in the middle selector, which are descendants of the first selector
.bottom-clients-bar .bottom-bar-images .picture,
.bottom-services-bar .our-work-examples .picture {
    @include turn-picture-colored;
}
